:root {
    --primary: #3454D1;
    --secondary: #71717a;
    --success: #32cd32;
    --danger: #dc2626;
    --warning: #f59e0b;
    --bg-white: #ffffff;
    --primary-color: #FF6619;
    --secondary-color: #1e1e1e;
    --font-white: #fefefe;
    --select-color: #009FFD;
}


.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.success {
    background-color: var(--success);
}

.danger {
    background-color: var(--danger);
}
.warning {
    background-color: var(--warning);
}

.dark {
    background: var(--secondary-color);
}

.primary-ol {
    border: 1px solid var(--primary);
    color: var(--primary);
    background: var(--bg-white);
}

.secondary-ol {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background: var(--bg-white);
}

.success-ol {
    border: 1px solid var(--success);
    color: var(--success);
    background: var(--bg-white);
}

.danger-ol {
    border: 1px solid var(--danger);
    color: var(--danger);
    background: var(--bg-white);
}


.warning-ol {
    border: 1px solid var(--warning);
    color: var(--warning);
    background: var(--bg-white);
}

.dark-ol {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: var(--bg-white);
}

.danger-ol::placeholder, .txt-danger {
    color: var(--danger);
}

.success-ol::placeholder, .txt-success {
    color: var(--success);
}