@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
:root {
    --primary-color: #FF6619;
    --secondary-color: #1e1e1e;
    --font-white: #fefefe;
    --select-color: #009FFD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Baloo 2', cursive;
}

/*****NAV BAR */

.navbar {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--font-white);
    align-items: center;
    padding: 0 calc(1rem + 4vw);
}

.nav-title {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.nav-title .brand {
    display: flex;
    align-items:  baseline;
    gap: 0.5rem;
}

.nav-title .brand a {
    color: var(--font-white);
    text-decoration: none;
}

.nav-links {
    position: absolute;
    left: 0;
    display: flex;
    right: 0;
    flex-direction: column;
    top: -15rem;
}

.hide {
    top: -15rem;
    transition: top 0.2s ease-in;
}

.show {
    top: 0;
    transition: top 0.2s ease-out;
}

.navbar-items {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    cursor: pointer;
}

.navbar-items:first-of-type{
    padding-right:1rem;
}

.ml-auto {
    margin-left: auto;
    cursor: pointer;
}

.navbar-items a {
    color: var(--font-white);
    text-decoration: none;
    width: 100%;
    padding: 1rem;
}

.navbar-items:hover {
    background: #E0500D;
}

.btn-docs {
    color: var(--font-white);
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.3rem 1rem;
    display: block;
    text-align: center;
    width: 5rem;
}

pre code {
    font-size: 1rem;
}

/****** */

/* media queries */

@media screen and (min-width: 530px){
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
        align-items: center;
        gap: 1vw;
        position: initial;
    }

    .navbar-items {
        border-radius: 10px;
        padding: 0;
    }
    #menu, #close-btn{
        display: none;
    }
    .navbar-items a {
        padding: 0.5rem 1rem;
    }
    
    .navbar-items:first-of-type {
        padding-right: 0;
    }
}