@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
:root {
    --primary-color: #FF6619;
    --secondary-color: #1e1e1e;
    --font-white: #fefefe;
    --select-color: #009FFD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Baloo 2', cursive;
}

/*****NAV BAR */

.nav {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--font-white);
    align-items: center;
    padding: 0 calc(1rem + 4vw);
}

.nav-title {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.nav-title .material-icons {
    margin-left: auto;
    cursor: pointer;
}

.nav-title .brand {
    display: flex;
    align-items:  baseline;
    gap: 0.5rem;
}

.links {
    position: absolute;
    left: 0;
    display: flex;
    right: 0;
    flex-direction: column;
    top: -15rem;
}

.hide {
    top: -15rem;
    transition: top 0.2s ease-in;
}

.show {
    top: 0;
    transition: top 0.2s ease-out;
}

.links li {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    cursor: pointer;
}

.links li:first-of-type{
    padding-right:1rem;
}

.links li .material-icons {
    margin-left: auto;
}

.links li a {
    color: var(--font-white);
    text-decoration: none;
    width: 100%;
    padding: 1rem;
}
/****** */