<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paper UI | Image</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../css/navbar.css">
  <link rel="stylesheet" href="../../css/sidebar.css">
  <link rel="shortcut icon" href="../../images/logo.svg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <nav class="navbar">
    <div class="nav-title">
      <span class="brand">
        <h2>PaperUI</h2>
        <span>v1.0</span>
      </span>
      <span class="material-icons ml-auto" id="menu">menu</span>
    </div>
    <ul class="nav-links">
      <li class="navbar-items"><a href="../../documentation.html">Docs</a>
        <span class="material-icons ml-auto" id="close-btn">close</span>
      </li>
      <li class="navbar-items"><a href="#">Examples</a></li>
      <li class="navbar-items"><a href="#">Resources</a></li>
    </ul>
  </nav>

  <div class="grid-container">
    <ul class="side-navbar">
      <h3 class="list-heading">Getting Started</h3>
      <li class="nav-items"><a class="reset-a" href="../../index.html">Introduction</a></li>
      <li class="nav-items"><a class="reset-a" href="#">Color</a></li>
      <li class="nav-items"><a class="reset-a" href="#">Typography</a></li>
      <li class="nav-items"><a class="reset-a" href="#">Conclusion</a></li>

      <h3 class="list-heading">Components</h3>
      <li class="nav-items"><a class="reset-a" href="../alert">Alert</a></li>
      <li class="nav-items"><a class="reset-a" href="../avatar">Avatar</a></li>
      <li class="nav-items"><a class="reset-a" href="../badge">Badge</a></li>
      <li class="nav-items"><a class="reset-a" href="../button">Button</a></li>
      <li class="nav-items"><a class="reset-a" href="../card">Card</a></li>
      <li class="nav-items"><a class="reset-a active" href="#">Image</a></li>
      <li class="nav-items"><a class="reset-a" href="#">Input</a></li>
      <li class="nav-items"><a class="reset-a" href="#">Text Utilities</a></li>
      <li class="nav-items"><a class="reset-a" href="#">Lists</a></li>
      <li class="nav-items"></li>
    </ul>
    <main class="main-content">
      <h1>Images</h1>
      <p class="content-desc">PaperUI provides 3 types of images. Responsive, round, soft cornered</p>
      <hr />
      <h2>Responsive Image</h2>
      <p class="content-desc">Use <code>img-resp</code> class to make your images fit in the parent element</p>
      <h3>Examples</h3>
      <div class="example-box">
        <img class="img-resp" src="https://picsum.photos/400/400"></img>
      </div>
      <iframe
      src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=24px&ph=23px&ln=false&fl=1&fm=Hack&fs=13px&lh=172%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-resp%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F400%252F400%2522%253E%253C%252Fimg%253E%250A"
      style="width: 30rem;height: 167px;"
      sandbox="allow-scripts allow-same-origin">
      </iframe>
      <h2>Round Images</h2>
      <p class="content-desc">Use <code>img-rnd</code> class to make your images fit in the parent element</p>
      <h3>Examples</h3>
      <div class="example-box">
        <img class="img-rnd" src="https://picsum.photos/400/400"></img>
      </div>
      <iframe
      src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=24px&ph=23px&ln=false&fl=1&fm=Hack&fs=13px&lh=172%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-rnd%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F400%252F400%2522%253E%253C%252Fimg%253E%250A"
      style="width: 30rem;height: 167px;"
      sandbox="allow-scripts allow-same-origin">
      </iframe>
      <h2>Soft-cornered Images</h2>
      <p class="content-desc">Use <code>img-rnd</code> class to make your images fit in the parent element</p>
      <h3>Examples</h3>
      <div class="example-box">
        <img class="crnr-soft" src="https://picsum.photos/400/400"></img>
      </div>
      <iframe
      src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=24px&ph=23px&ln=false&fl=1&fm=Hack&fs=13px&lh=172%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522crnr-soft%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F400%252F400%2522%253E%253C%252Fimg%253E%250A"
      style="width: 30rem;height: 167px;"
      sandbox="allow-scripts allow-same-origin">
      </iframe>
      <hr />
      <footer class="nav-footer">
        <i class="material-icons">chevron_left</i><a class="footer-a far-left" href="../card/">card</a>
        <a class="footer-a" href="../input/">Input</a><i class="material-icons">chevron_right</i>
      </footer>
    </main>
  </div>
</body>

</html>