/***** MAIN CONTENT*/

.example-box {
    width: 50%;
}

.img-resp {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-rnd {
    border-radius: 50%;
}

.corner-soft {
    border-radius: 2rem;
}

/***** */