@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
:root {
    --primary-color: #F4653E;
    --secondary-color: #0891b2;
    --font-white: #fefefe;
    --select-color: #FF6D45;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1.5rem + 2vw);
}

.intro-title {
    font-size: calc(1.5rem + 2.5vw);
    line-height: 1.2em;
    text-align: center;
}

.intro-subtitle {
    font-size: calc(1rem + 0.5vw);
    text-align: center;
}

.nav {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--font-white);
    align-items: center;
    padding: 0 calc(1rem + 4vw);
}

.nav-title {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.nav-title .material-icons {
    margin-left: auto;
    cursor: pointer;
}

.nav-title .brand {
    display: flex;
    align-items:  baseline;
    gap: 0.5rem;
}

.links {
    position: absolute;
    left: 0;
    display: flex;
    width: 100vw;
    flex-direction: column;
    top: -15rem;
}

.hide {
    top: -15rem;
    transition: top 0.2s ease-in;
}

.show {
    top: 0;
    transition: top 0.2s ease-out;
}

.links li {
    display: inline-block;
    padding: 1rem;
    background: var(--primary-color);
    cursor: pointer;
}

.links li:first-of-type{
    display: flex;
    align-items: center;
}

.links li .material-icons {
    margin-left: auto;
}

.links li:hover {
    background-color: var(--select-color);
}

.main-content {
    max-width: calc(60rem - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(1rem + 1vw); 
    gap: 2rem;    
}

#logo {
    height: 150px;
    /* margin: 2rem; */
}

@media screen and (min-width: 298px){
    #logo {
        margin: 2rem;
    }
}
@media screen and (min-width: 309px){
    .intro-title{   
        margin-top: calc(1rem + 1vw);
    }
    
}
@media screen and (min-width: 570px){
    .intro-subtitle{
        padding:0 clamp(1rem, 1.5rem + 1vw, 3rem);
    }
}
@media screen and (min-width: 530px){
    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
        gap: 1vw;
        position: initial;
    }
    .links li .material-icons{
        display: none;
    }
    .nav-title .material-icons{
        display: none;
    }
}