<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper UI | Cards</title>
    <link rel="stylesheet" href="../button/style.css" />
    <link rel="stylesheet" href="../badge/style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      href="../../images/logo.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
    <script src="../../script.js" defer></script>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-title">
        <span class="brand">
          <h2><a href="../../">PaperUI</a></h2>
          <span>v1.0</span>
        </span>
        <span class="material-icons ml-auto" id="menu">menu</span>
      </div>
      <ul class="nav-links">
        <li class="navbar-items">
          <a href="../../documentation.html">Docs</a>
          <span class="material-icons ml-auto" id="close-btn">close</span>
        </li>
        <li class="navbar-items"><a href="#">Examples</a></li>
        <li class="navbar-items"><a href="#">Resources</a></li>
      </ul>
    </nav>

    <div class="grid-container">
      <ul class="side-navbar">
        <h3 class="list-heading">Getting Started</h3>
        <li class="nav-items">
          <a class="reset-a" href="../../documentation.html">Introduction</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/colors/">Color</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/typography/">Typography</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/conclusion/">Conclusion</a>
          </li>
        <h3 class="list-heading">Components</h3>
        <li class="nav-items"><a class="reset-a" href="../alert/">Alert</a></li>
        <li class="nav-items"><a class="reset-a" href="../avatar/">Avatar</a></li>
        <li class="nav-items"><a class="reset-a" href="../badge/">Badge</a></li>
        <li class="nav-items"><a class="reset-a" href="../button/">Button</a></li>
        <li class="nav-items"><a class="reset-a active" href="../card">Card</a></li>
        <li class="nav-items"><a class="reset-a" href="../image/">Image</a></li>
        <li class="nav-items"><a class="reset-a" href="../input/">Input</a></li>
        <li class="nav-items"><a class="reset-a" href="../lists/">Lists</a></li>
        <li class="nav-items"><a class="reset-a" href="../navigation/">Navigation</a></li>
        <li class="nav-items"><a class="reset-a" href="../text-utilities/">Text Utilities</a></li>
        <li class="nav-items"><a class="reset-a" href="../toast/">Toast</a></li>
        <li class="nav-items"><a class="reset-a" href="../ratings/">Ratings</a></li>
        <li class="nav-items"><a class="reset-a" href="../modals/">Modals</a></li>
        <li class="nav-items"><a class="reset-a" href="../grid/">Grids</a></li>
        <li class="nav-items"><a class="reset-a" href="../slider/">Slider</a></li>

      </ul>
      <main class="main-content">
        <h1>Cards</h1>
        <p class="content-desc">
          Cards are pre-built containers that provides a short and crisp
          information to the user through text, images, links, and buttons
        </p>
        <pre><code class="html exec-code"><link rel = "stylesheet" href = "https://paperui.netlify.app/components/card/style.css" /></code></pre>
        <hr />
        <h2>Default Card</h2>
        <p class="content-desc">
          These cards are text only with a header and a text.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card">
            <h2>This is a Heading</h2>
            <h4>This is a sub-heading</h4>
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card">
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
            </div>
          </code>
        </pre>
        <h2>Card with image</h2>
        <p class="content-desc">
          These cards provide content with images inside. Use .card-img class to
          add images to the card.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card">
            <h2>This is a Heading</h2>
            <h4>This is a sub-heading</h4>
            <img
              class="card-img"
              src="https://picsum.photos/300/200"
              alt="sample image"
            />
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card">
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <img
                class="card-img"
                src="https://picsum.photos/300/200"
                alt="sample image"
              />
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
            </div>
          </code>
        </pre>

        <h2>Image, Title, and buttons</h2>
        <p class="content-desc">
          Use the <code>.btn-grp</code> container with <code>.btn</code> class
          to get the buttons.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card">
            <h2>This is a Heading</h2>
            <h4>This is a sub-heading</h4>
            <img
              class="card-img"
              src="https://picsum.photos/300/200"
              alt="sample image"
            />
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
            <div class="btn-grp">
              <a class="btn primary" href="#">View</a>
              <a class="btn primary" href="#">Read more</a>
            </div>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card">
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <img
                class="card-img"
                src="https://picsum.photos/300/200"
                alt="sample image"
              />
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
              <div class="btn-grp">
                <a class="btn primary" href="#">View</a>
                <a class="btn primary" href="#">Read more</a>
              </div>
            </div>
          </code>
        </pre>
        <h2>Image, buttons, and icons</h2>
        <p class="content-desc">
          Use the <code>.icon-grp</code> class to get the icons
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card wc">
            <h2>This is a Heading</h2>
            <h4>This is a sub-heading</h4>
            <img
              class="card-img"
              src="https://picsum.photos/300/200"
              alt="sample image"
            />
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
            <div class="btn-grp">
              <a class="btn primary" href="#">View</a>
              <a class="btn primary" href="#">Read more</a>
              <div class="icon-grp">
                <i class="material-icons card-icon">favorite_border</i>
                <i class="material-icons card-icon">share</i>
                <i class="material-icons card-icon">more_vert</i>
              </div>
            </div>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card wc">
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <img
                class="card-img"
                src="https://picsum.photos/300/200"
                alt="sample image"
              />
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
              <div class="btn-grp">
                <a class="btn primary" href="#">View</a>
                <a class="btn primary" href="#">Read more</a>
                <div class="icon-grp">
                  <i class="material-icons card-icon">favorite_border</i>
                  <i class="material-icons card-icon">share</i>
                  <i class="material-icons card-icon">more_vert</i>
                </div>
              </div>
            </div>
          </code>
        </pre>
        <h2>Image, footer, buttons, and icons</h2>
        <p class="content-desc">
          Use the <code>.c-footer</code> to create the footer.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card wc">
            <h2>This is a Heading</h2>
            <h4>This is a sub-heading</h4>
            <img
              class="card-img"
              src="https://picsum.photos/300/200"
              alt="sample image"
            />
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
            <footer class="c-footer">Updated 12 mins ago.</footer>
            <div class="btn-grp">
              <a class="btn primary" href="#">View</a>
              <a class="btn primary" href="#">Read more</a>
              <div class="icon-grp">
                <i class="material-icons card-icon">favorite_border</i>
                <i class="material-icons card-icon">share</i>
                <i class="material-icons card-icon">more_vert</i>
              </div>
            </div>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card wc">
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <img
                class="card-img"
                src="https://picsum.photos/300/200"
                alt="sample image"
              />
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
              <footer class="c-footer">Updated 12 mins ago.</footer>
              <div class="btn-grp">
                <a class="btn primary" href="#">View</a>
                <a class="btn primary" href="#">Read more</a>
                <div class="icon-grp">
                  <i class="material-icons card-icon">favorite_border</i>
                  <i class="material-icons card-icon">share</i>
                  <i class="material-icons card-icon">more_vert</i>
                </div>
              </div>
            </div>
          </code>
        </pre>
        <h2>Text over Image</h2>
        <p class="content-desc">
          Add your headings over the image using the below code.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card card-toi">
            <div class="img-txt-container">
              <div class="txt-over-img">
                <h2>This is a Heading</h2>
                <h4>This is a sub-heading</h4>
              </div>
              <img
                class="card-img full-img"
                src="../../images/avatars/profile1.jpg"
                alt="sample image"
              />
            </div>
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card card-toi">
              <div class="img-txt-container">
                <div class="txt-over-img">
                  <h2>This is a Heading</h2>
                  <h4>This is a sub-heading</h4>
                </div>
                <img
                  class="card-img full-img"
                  src="../../images/avatars/profile1.jpg"
                  alt="sample image"
                />
              </div>
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
            </div>
          </code>
        </pre>
        <h2>Horizontal Card</h2>
        <p class="content-desc">
          You can also use a compact horizontal card in your project with the
          below code.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class = "alt-text">Not enough responsive</div>
          <div class="card resp-hide">
            <div class="horiz">
              <img
                class="horz-img"
                src="../../images/avatars/profile1.jpg"
                alt="sample image"
              />
              <div class="vert-txt">
                <h2>This is a Heading</h2>
                <h4>This is a sub-heading</h4>
              </div>
            </div>
            <div class="btn-grp">
              <a class="btn primary" href="#">View</a>
              <a class="btn primary" href="#">Read more</a>
              <div class="icon-grp">
                <i class="material-icons card-icon">favorite_border</i>
                <i class="material-icons card-icon">share</i>
                <i class="material-icons card-icon">more_vert</i>
              </div>
            </div>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card">
              <div class="horiz">
                <img
                  class="horz-img"
                  src="../../images/avatars/profile1.jpg"
                  alt="sample image"
                />
                <div class="vert-txt">
                  <h2>This is a Heading</h2>
                  <h4>This is a sub-heading</h4>
                </div>
              </div>
              <div class="btn-grp">
                <a class="btn primary" href="#">View</a>
                <a class="btn primary" href="#">Read more</a>
                <div class="icon-grp">
                  <i class="material-icons card-icon">favorite_border</i>
                  <i class="material-icons card-icon">share</i>
                  <i class="material-icons card-icon">more_vert</i>
                </div>
              </div>
            </div>
          </code>
        </pre>
        <h2>Card with Badge</h2>
        <p class="content-desc">
          You can use a badge card in your project with the below code.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="badge">
            <div class="card">
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
            </div>
            <div class="badge-icon badge-num danger">7</div>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="badge">
              <div class="card">
                <h2>This is a Heading</h2>
                <h4>This is a sub-heading</h4>
                <p class="content-desc">
                  In officia laborum tempor voluptate id Lorem velit elit aliqua
                  aliqua duis ad voluptate ex.
                </p>
              </div>
              <div class="badge-icon badge-num danger">7</div>
            </div>
          </code>
        </pre>
        <h2>Cards with dismiss</h2>
        <p class="content-desc">
          Cards can also have a dismiss option where you can cancel or delete a
          card
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="card dismiss">
            <i class="material-icons" id="close">close</i>
            <h2>This is a Heading</h2>
            <h4>This is a sub-heading</h4>
            <p class="content-desc">
              In officia laborum tempor voluptate id Lorem velit elit aliqua
              aliqua duis ad voluptate ex.
            </p>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="card dismiss">
              <i class="material-icons" id="close">close</i>
              <h2>This is a Heading</h2>
              <h4>This is a sub-heading</h4>
              <p class="content-desc">
                In officia laborum tempor voluptate id Lorem velit elit aliqua
                aliqua duis ad voluptate ex.
              </p>
            </div>
          </code>
        </pre>
        <hr />
        <footer class="nav-footer">
          <i class="material-icons">chevron_left</i
          ><a class="footer-a far-left" href="../button/">Button</a>
          <a class="footer-a" href="../image/">image</a
          ><i class="material-icons">chevron_right</i>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
  </body>
</html>
