@import url("../../css/navbar.css");
@import url("../../css/sidebar.css");
@import url("../../css/colors.css");

/***** MAIN CONTENT*/
.example-box {
    justify-content: center;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--font-white);
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    box-shadow: 1px 1px 5px var(--secondary-color);
}

.card-img {
    margin: 1rem -1rem 0;
}

.btn-grp {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.card-icon:first-of-type() {
    margin-left: auto;
}

.card-icon {
    padding: 0.5rem;
    box-sizing: border-box;
}

.icon-grp {
    display: flex;
    margin-left: auto;
}

.card-icon:hover {
    background: lightgray;
    border-radius: 50%;
}

.card p {
    width: 20rem;
}

.wc {
    width: 23rem;
}

.card .c-footer {
    display: inline;
}

.c-footer {
    color: gray;
    font-size: 1rem;
}

.img-txt-container {
    position: relative;
    width: 20rem;
}

.txt-over-img {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
    color: var(--font-white);
}
.full-img {
    width: 100%;
    margin: 0;
}

.card-toi {
    padding: 0;
}

.card-toi p {
    padding: 0 1rem;
}

.horiz {
    display: flex;
    flex-direction: row;
    height: 10rem;
}

.horz-img {
    height: 100%;
    margin: -1rem 1rem 0 -1rem;
}

.vert-txt {
    display: flex;
    flex-direction: column;
}

.badge-icon {
    right: 1em;
}

.dismiss {
    position: relative;
}

#close {
    position: absolute;
    right: 0.5em;
}
/***** */