<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper UI | Input</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/colors.css" />
    <link
      rel="shortcut icon"
      href="../../images/logo.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
    <script src="../../script.js" defer></script>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-title">
        <span class="brand">
          <h2><a href="../../">PaperUI</a></h2>
          <span>v1.0</span>
        </span>
        <span class="material-icons ml-auto" id="menu">menu</span>
      </div>
      <ul class="nav-links">
        <li class="navbar-items">
          <a href="../../documentation.html">Docs</a>
          <span class="material-icons ml-auto" id="close-btn">close</span>
        </li>
        <li class="navbar-items"><a href="#">Examples</a></li>
        <li class="navbar-items"><a href="#">Resources</a></li>
      </ul>
    </nav>

    <div class="grid-container">
      <ul class="side-navbar">
        <h3 class="list-heading">Getting Started</h3>
        <li class="nav-items">
          <a class="reset-a" href="../../documentation.html">Introduction</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/colors/">Color</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/typography/">Typography</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/conclusion/">Conclusion</a>
          </li>
        <h3 class="list-heading">Components</h3>
        <li class="nav-items"><a class="reset-a" href="../alert">Alert</a></li>
        <li class="nav-items"><a class="reset-a" href="../avatar">Avatar</a></li>
        <li class="nav-items"><a class="reset-a" href="../badge">Badge</a></li>
        <li class="nav-items"><a class="reset-a" href="../button">Button</a></li>
        <li class="nav-items"><a class="reset-a" href="../card">Card</a></li>
        <li class="nav-items"><a class="reset-a" href="../image/">Image</a></li>
        <li class="nav-items"><a class="reset-a active" href="../input/">Input</a></li>
        <li class="nav-items"><a class="reset-a" href="../lists/">Lists</a></li>
        <li class="nav-items"><a class="reset-a" href="../navigation/">Navigation</a></li>
        <li class="nav-items"><a class="reset-a" href="../text-utilities/">Text Utilities</a></li>
        <li class="nav-items"><a class="reset-a" href="../toast/">Toast</a></li>
        <li class="nav-items"><a class="reset-a" href="../ratings/">Ratings</a></li>
        <li class="nav-items"><a class="reset-a" href="../modals/">Modals</a></li>
        <li class="nav-items"><a class="reset-a" href="../grid/">Grids</a></li>
        <li class="nav-items"><a class="reset-a" href="../slider/">Slider</a></li>

      </ul>
      <main class="main-content">
        <h1>Inputs</h1>
        <p class="content-desc">
          Inputs are the most important part of a form element. PaperUI has its own input styles.
        </p>
        <pre><code class="html exec-code"><link rel = "stylesheet" href = "https://paperui.netlify.app/components/input/style.css" /></code></pre>
        <hr />
        <h2>Input labels</h2>
        <p class="content-desc">
          Inputs are the most commonly used elements in forms. Use the
          <code>input-grp</code> class to access the input styles.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <form class="form-grp">
            <div class="input-grp">
              <label for="email">Enter your email *</label>
              <input
                type="text"
                class="txt"
                placeholder="Email"
                name="email"
                required
              />
            </div>
            <div class="input-grp">
              <label for="password">Enter your password *</label>
              <input
                type="Password"
                class="pwd"
                placeholder="Password"
                name="password"
              />
            </div>
          </form>
        </div>
        <pre>
          <code class="html exec-code">
            <form class="form-grp">
              <div class="input-grp">
                <label for="email">Enter your email *</label>
                <input
                  type="text" class="txt" 
                  placeholder="Email" name="email" />
              </div>
              <div class="input-grp">
                <label for="password">Enter your password *</label>
                <input
                  type="Password" class="pwd"
                  placeholder="Password" name="password" />
              </div>
            </form>
          </code>
        </pre>
        <h2>Validation Styles</h2>
        <p class="content-desc">
          For success use <code>.txt-success</code> class for label and
          <code>.success-ol</code> class for inputs
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <form class="form-grp">
            <div class="input-grp">
              <label for="email" class="txt-success">Enter your email *</label>
              <input
                type="text"
                class="txt success-ol"
                placeholder="Email"
                name="email"
                required
              />
            </div>
            <div class="input-grp">
              <label for="password" class="txt-success"
                >Enter your password *</label
              >
              <input
                type="Password"
                class="pwd success-ol"
                placeholder="Password"
                name="password"
              />
            </div>
          </form>
        </div>
        <pre>
          <code class="html exec-code">
            <form class="form-grp">
              <div class="input-grp">
                <label for="email" class="txt-success">Enter your email *</label>
                <input
                  type="text" class="txt success-ol"
                  placeholder="Email" name="email" />
              </div>
              <div class="input-grp">
                <label for="password" class="txt-success">Enter your password *</label>
                <input
                  type="Password" class="pwd success-ol"
                  placeholder="Password" name="password" />
              </div>
            </form>
          </code>
        </pre>
        <h2>Error Styles</h2>
        <p class="content-desc">
          For success use <code>.txt-danger</code> class for label and
          <code>.danger-ol</code> class for inputs
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <form class="form-grp">
            <div class="input-grp">
              <label for="email" class="txt-danger">Enter your email *</label>
              <input
                type="text"
                class="txt danger-ol"
                placeholder="Email"
                name="email"
                required
              />
            </div>
            <div class="input-grp">
              <label for="password" class="txt-danger"
                >Enter your password *</label
              >
              <input
                type="Password"
                class="pwd danger-ol"
                placeholder="Password"
                name="password"
              />
            </div>
          </form>
        </div>
        <pre>
          <code class="html exec-code">
            <form class="form-grp">
              <div class="input-grp">
                <label for="email" class="txt-danger">Enter your email *</label>
                <input
                  type="text" class="txt danger-ol"
                  placeholder="Email" name="email" />
              </div>
              <div class="input-grp">
                <label for="password" class="txt-danger">Enter your password *</label>
                <input
                  type="Password" class="pwd danger-ol"
                  placeholder="Password" name="password" />
              </div>
            </form>
          </code>
        </pre>
        <hr />
        <footer class="nav-footer">
          <i class="material-icons">chevron_left</i
          ><a class="footer-a far-left" href="../image/">Image</a>
          <a class="footer-a" href="../lists/">Lists</a
          ><i class="material-icons">chevron_right</i>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
  </body>
</html>
