.form-grp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-grp {
    display: flex;
    flex-direction: column;
}

.input-grp label {
    font-size: 0.8rem;
}

.input-grp input {
    padding: 0.5rem;
}