<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper UI | Button</title>
    <link rel="stylesheet" href="button.css">
    <link rel="shortcut icon" href="../../images/logo.svg" type="image/x-icon">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
</head>
<body>
    <nav class="nav">
        <div class="nav-title">
            <span class = "brand">
                <h2>PaperUI</h2>
                <span>v1.0</span>
            </span>
            <span class="material-icons" id = "menu">menu</span>
        </div>
        <ul class="links">
            <li><a href = "../../documentation.html">Docs</a> 
                <span class = "material-icons" id = "close-btn">close</span>
            </li>
            <li><a href = "#">Examples</a></li>
            <li><a href = "#">Resources</a></li>
        </ul>
    </nav>

    <main class = "grid-container">
        <ul class = "side-navbar">
            <h3 class = "list-heading">Getting Started</h3>
            <li class = "nav-items"><a class = "reset-a" href = "../../index.html">Introduction</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Color</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Typography</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Conclusion</a></li>
            
            <h3 class = "list-heading">Components</h3>
            <li class = "nav-items"><a class = "reset-a" href = "alert.html">Alert</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Avatar</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Badge</a></li>
            <li class = "nav-items"><a class = "reset-a active" href = "#">Button</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Card</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Image</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Input</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Text Utilities</a></li>
            <li class = "nav-items"><a class = "reset-a" href = "#">Lists</a></li>
            <li class = "nav-items"></li>
        </ul>
        <main class = "main-content">
            <h1>Buttons</h1>
            <p>Buttons are the most common and most important part of a web app that allows you to navigate from one page to another, perform certain actions etc.</p>
            <hr />
            <h2>Different Buttons</h2>
            <p>Paper provides a lot of colorful buttons that are ready on the go.</p>
            <h3>Examples</h3>
            <div class = "example-box">
                <button class = "btn primary">Primary</button>
                <button class = "btn secondary">secondary</button>
                <button class = "btn warning">warning</button>
                <button class = "btn danger">danger</button>
                <button class = "btn success">success</button>
                <button class = "btn dark">dark</button>
            </div>
            
            <h2>Outline Buttons</h2>
            <p>Just another form of button with outlines instead of background colors.</p>
            <h3>Examples</h3>
            <div class = "example-box">
                <button class = "btn primary-ol">Primary</button>
                <button class = "btn secondary-ol">secondary</button>
                <button class = "btn warning-ol">warning</button>
                <button class = "btn danger-ol">danger</button>
                <button class = "btn success-ol">success</button>
                <button class = "btn dark-ol">dark</button>
            </div>
            
            <h2>Button Sizes</h2>
            <p>We have three different sizes of buttons named sm, md, lg</p>
            <h3>Examples</h3>
            <div class = "example-box">
                <button class = "btn primary sm">small button</button>
                <button class = "btn primary md">Medium Button</button>
                <button class = "btn primary lg">large Button</button>
            </div>
            <h2>Link Buttons</h2>
            <p>You can use the anchor tags and input tags in form of buttons too.</p>
            <h3>Examples</h3>
            <div class = "example-box">
                <a class = "btn dark" href = "#">a tags</a>
                <input type = "submit" class = "btn danger" value = "input tags" />
            </div>
            <h2>Icon Buttons</h2>
            <p>Buttons can also have icons in them.</p>
            <h3>Examples</h3>
            <div class = "example-box">
                <button class = "btn btn-icon primary"><i class = "material-icons">save</i>Save</button>
            </div>
        <hr />
        <footer>
            <i class= "material-icons">chevron_left</i><a class = "reset-a far-left" href = "../badge/badge.html" >badge</a>
            <a class = "reset-a" href = "../card/card.html" >card</a><i class= "material-icons">chevron_right</i>
        </footer>
        </main>
    </main>
</body>
</html>