@import url("../../css/navbar.css");
@import url("../../css/sidebar.css");

/***** MAIN CONTENT*/

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.example-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sm {
    height: 2rem;
    width: 2rem;
}

.md {
    height: 3rem;
    width: 3rem;
}

.lg {
    height: 4rem;
    width: 4rem;
}

.square {
    border-radius: 5px;
}


/***** */


@media screen and (min-width: 530px){
    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
        align-items: center;
        gap: 1vw;
        position: initial;
    }
    .links li .material-icons{
        display: none;
    }

    .links li {
        padding: 0;
    }
    .nav-title .material-icons{
        display: none;
    }
    .links li a {
        padding: 0.5rem 1rem;
    }
    
    .links li:first-of-type {
        border-radius: 10px;
        padding-right: 0;
    }
}