@import url("../../css/navbar.css");
@import url("../../css/sidebar.css");

/***** MAIN CONTENT*/

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.example-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sm {
    height: 2rem;
    width: 2rem;
}

.md {
    height: 3rem;
    width: 3rem;
}

.lg {
    height: 4rem;
    width: 4rem;
}

.square {
    border-radius: 5px;
}


/***** */