@import url("../../css/navbar.css");
@import url("../../css/sidebar.css");
@import url("../../css/colors.css");

.nav-header {
    display: flex;
    align-items: center;
    background: var(--primary);
    padding: 0 2rem;
}

.brand-name {
    font-weight: 800;
    cursor: pointer;
}

.menu-list, .searchbar {
    display: flex;
    font-size: 1rem;
    margin-left: auto;
}

.searchbar {
    border: none;
    padding: 0.3rem;
    background: none;
    width: 4rem;
}

.searchbar::placeholder {
    color: var(--secondary-color);
}

.searchbar:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 20%;
    transition: width 300ms ease-in;
}

.menu-list-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.menu-list-items:hover {
    background: #3f64f3;
}

.nav-icons {
    padding: 0.5rem 0;
}

.nav-icons .menu-list-items {
    padding: 0;
}

.nav-icons .menu-list-items .material-icons{
    padding: 0.5rem;
}
.nav-icons .menu-list-items:hover {
    border-radius: 50%;
}

.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
}
.alt-text{
    display: none;
}


@media screen and (max-width: 450px) {
    .resp-hide {
        display: none;
    }
    .alt-text {
        display: block;
    }
}