@import url("../../css/navbar.css");
@import url("../../css/sidebar.css");

/***** MAIN CONTENT*/

.badge {
    position: relative;
    width: max-content;
    color: var(--font-white);
}

.badge-icon {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 3px solid white;
}

.online {
    background: #32cd32;
}
.offline {
    background: #dc2626;
}
.dnd {
    background: #f59e0b;
}

#flx-c {
    flex-direction: column;
}

.badge-h {
    display: flex;
    gap: 1rem;
}

.head-badge {
    background: lightslategray;
    padding: 0 1rem;
    border-radius: 5px;
    color: var(--font-white);
}

.badge .material-icons {
    font-size: 2.5rem;
    color: black;
}

.badge-num {
    border: none;
    bottom: 1rem;
    font-size: 0.7rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    background-color: #3454D1;
    padding: 0 1rem;
    border-radius: 5px;
}

.secondary {
    background-color: #71717a;
    padding: 0 1rem;
    border-radius: 5px;
}

.success {
    background-color: #32cd32;
    padding: 0 1rem;
    border-radius: 5px;
}

.danger {
    background-color: #dc2626;
    padding: 0 1rem;
    border-radius: 5px;
}
.warning {
    background-color: #f59e0b;
    padding: 0 1rem;
    border-radius: 5px;
}
.dark {
    background-color: var(--secondary-color);
    padding: 0 1rem;
    border-radius: 5px;
}
/***** */


@media screen and (min-width: 530px){
    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
        align-items: center;
        gap: 1vw;
        position: initial;
    }
    .links li .material-icons{
        display: none;
    }

    .links li {
        padding: 0;
    }
    .nav-title .material-icons{
        display: none;
    }
    .links li a {
        padding: 0.5rem 1rem;
    }
    
    .links li:first-of-type {
        border-radius: 10px;
        padding-right: 0;
    }
}