<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper UI | Badge</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../avatar/style.css" />
    <link rel="shortcut icon" href="../../images/logo.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
    <script src="../../script.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="nav-title">
            <span class="brand">
                <h2><a href="../../">PaperUI</a></h2>
                <span>v1.0</span>
            </span>
            <span class="material-icons ml-auto" id="menu">menu</span>
        </div>
        <ul class="nav-links">
            <li class="navbar-items"><a href="../../documentation.html">Docs</a>
                <span class="material-icons ml-auto" id="close-btn">close</span>
            </li>
            <li class="navbar-items"><a href="#">Examples</a></li>
            <li class="navbar-items"><a href="#">Resources</a></li>
        </ul>
    </nav>

    <div class="grid-container">
        <ul class="side-navbar">
            <h3 class="list-heading">Getting Started</h3>
            <li class="nav-items">
            <a class="reset-a" href="../../documentation.html">Introduction</a>
            </li>
            <li class="nav-items">
            <a class="reset-a" href="../../introduction/colors/">Color</a>
            </li>
            <li class="nav-items">
            <a class="reset-a" href="../../introduction/typography/">Typography</a>
            </li>
            <li class="nav-items">
            <a class="reset-a" href="../../introduction/conclusion/">Conclusion</a>
            </li>
            <h3 class="list-heading">Components</h3>
            <li class="nav-items"><a class="reset-a" href="../alert">Alert</a></li>
            <li class="nav-items"><a class="reset-a" href="../avatar">Avatar</a></li>
            <li class="nav-items"><a class="reset-a active" href="../badge">Badge</a></li>
            <li class="nav-items"><a class="reset-a" href="../button">Button</a></li>
            <li class="nav-items"><a class="reset-a" href="../card">Card</a></li>
            <li class="nav-items"><a class="reset-a" href="../image/">Image</a></li>
            <li class="nav-items"><a class="reset-a" href="../input/">Input</a></li>
            <li class="nav-items"><a class="reset-a" href="../lists/">Lists</a></li>
            <li class="nav-items"><a class="reset-a" href="../navigation/">Navigation</a></li>
            <li class="nav-items"><a class="reset-a" href="../text-utilities/">Text Utilities</a></li>
            <li class="nav-items"><a class="reset-a" href="../toast/">Toast</a></li>
            <li class="nav-items"><a class="reset-a" href="../ratings/">Ratings</a></li>
            <li class="nav-items"><a class="reset-a" href="../modals/">Modals</a></li>
            <li class="nav-items"><a class="reset-a" href="../grid/">Grids</a></li>
            <li class="nav-items"><a class="reset-a" href="../slider/">Slider</a></li>

        </ul>
        <main class="main-content">
            <h1>Badges</h1>
            <p class="content-desc">The thing that pops up on your app's icon, when you recieve a message? Yes, that is
                known as a badge. Badges are small circles with numbers or some activity status positioned on the
                top-right or bottom-right corners.</p>
            <pre><code class="html exec-code"><link rel = "stylesheet" href = "https://paperui.netlify.app/components/badge/style.css" /></code></pre>
            <hr />
            <h2>Profile Badge</h2>
            <p class="content-desc">These are used to show the activity status generally. You can access Profile Badges
                using class names success, danger, and warning.</p>
            <h3>Examples</h3>
            <div class="example-box">
                <div class="badge">
                    <img class="avatar" src="../../images/avatars/profile3.jpg"></img>
                    <div class="badge-icon success"></div>
                </div>
                <div class="badge">
                    <img class="avatar" src="../../images/avatars/profile2.jpg"></img>
                    <div class="badge-icon danger"></div>
                </div>
                <div class="badge">
                    <img class="avatar" src="../../images/avatars/profile1.jpg"></img>
                    <div class="badge-icon warning"></div>
                </div>
            </div>
            <pre>
                <code class="html exec-code">
                    <div class="badge">
                        <img class="avatar" src="../../images/avatars/profile3.jpg"></img>
                        <div class="badge-icon success"></div>
                    </div>
                    <div class="badge">
                        <img class="avatar" src="../../images/avatars/profile2.jpg"></img>
                        <div class="badge-icon danger"></div>
                    </div>
                    <div class="badge">
                        <img class="avatar" src="../../images/avatars/profile1.jpg"></img>
                        <div class="badge-icon warning"></div>
                    </div>
                </code>
            </pre>
            <h2>Heading Badge</h2>
            <p class="content-desc">Headings are used to tell the user about the status of a particular item.</p>
            <h3>Examples</h3>
            <div class="example-box" id="flx-c">
                <div class="badge-h">
                    <h1>Heading</h1>
                    <h1 class="head-badge">New<h1>
                </div>
                <div class="badge-h">
                    <h4>Heading</h4>
                    <h4 class="head-badge">New<h4>
                </div>
                <div class="badge-h">
                    <h6>Heading</h6>
                    <h6 class="head-badge">New<h6>
                </div>
                <div class="badge-h">
                    <img class="avatar" src="../../images/avatars/profile3.jpg"></img>
                    <h6 class="head-badge card-badge">New<h6>
                </div>
            </div>
            <pre>
                <code class="html exec-code">
                    <div class="badge-h">
                        <h1>Heading</h1>
                        <h1 class="head-badge">New<h1>
                    </div>
                    <div class="badge-h">
                        <h4>Heading</h4>
                        <h4 class="head-badge">New<h4>
                    </div>
                    <div class="badge-h">
                        <h6>Heading</h6>
                        <h6 class="head-badge">New<h6>
                    </div>
                    <div class="badge-h">
                        <img class="avatar" src="../../images/avatars/profile3.jpg"></img>
                        <h6 class="head-badge card-badge">New<h6>
                    </div>
                </code>
            </pre>
            <h2>Background colors</h2>
            <p class="content-desc">Different background colours for the badges can be used too.</p>
            <h3>Examples</h3>
            <div class="example-box">
                <p class="badge bg primary">primary</p>
                <p class="badge bg secondary">secondary</p>
                <p class="badge bg success">success</p>
                <p class="badge bg danger">danger</p>
                <p class="badge bg warning">warning</p>
                <p class="badge bg dark">dark</p>
            </div>
            <pre>
                <code class="html exec-code">
                    <p class="badge bg primary">primary</p>
                    <p class="badge bg secondary">secondary</p>
                    <p class="badge bg success">success</p>
                    <p class="badge bg danger">danger</p>
                    <p class="badge bg warning">warning</p>
                    <p class="badge bg dark">dark</p>    
                </code>
            </pre>
            <h2>Number Badge</h2>
            <p class="content-desc">Number Badges are used to tell the user the number of items present.</p>
            <h3>Examples</h3>
            <div class="example-box">
                <div class="badge">
                    <i class="material-icons badge-ico">shopping_cart</i>
                    <div class="badge-icon badge-num warning">5</div>
                </div>
                <div class="badge">
                    <i class="material-icons badge-ico">email</i>
                    <div class="badge-icon badge-num danger">7</div>
                </div>
            </div>
            <pre>
                <code class="html exec-code">
                    <div class="badge">
                        <i class="material-icons badge-ico">shopping_cart</i>
                        <div class="badge-icon badge-num warning">5</div>
                    </div>
                    <div class="badge">
                        <i class="material-icons badge-ico">email</i>
                        <div class="badge-icon badge-num danger">7</div>
                    </div>
                </code>
            </pre>
            <hr />
            <footer class="nav-footer">
                <i class="material-icons">chevron_left</i><a class="footer-a far-left" href="../avatar/">Avatar</a>
                <a class="footer-a" href="../button/">Button</a><i class="material-icons">chevron_right</i>
            </footer>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>