<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper UI | Text Utilities</title>
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../alert/style.css" />
    <link rel="stylesheet" href="../../css/colors.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      href="../../images/logo.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
    <script src="../../script.js" defer></script>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-title">
        <span class="brand">
          <h2><a href="../../">PaperUI</a></h2>
          <span>v1.0</span>
        </span>
        <span class="material-icons ml-auto" id="menu">menu</span>
      </div>
      <ul class="nav-links">
        <li class="navbar-items">
          <a href="../../documentation.html">Docs</a>
          <span class="material-icons ml-auto" id="close-btn">close</span>
        </li>
        <li class="navbar-items"><a href="#">Examples</a></li>
        <li class="navbar-items"><a href="#">Resources</a></li>
      </ul>
    </nav>

    <div class="grid-container">
      <ul class="side-navbar">
        <h3 class="list-heading">Getting Started</h3>
        <li class="nav-items">
          <a class="reset-a" href="../../documentation.html">Introduction</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/colors/">Color</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/typography/">Typography</a>
          </li>
          <li class="nav-items">
          <a class="reset-a" href="../../introduction/conclusion/">Conclusion</a>
          </li>
        <h3 class="list-heading">Components</h3>
        <li class="nav-items"><a class="reset-a" href="../alert">Alert</a></li>
        <li class="nav-items"><a class="reset-a" href="../avatar">Avatar</a></li>
        <li class="nav-items"><a class="reset-a" href="../badge">Badge</a></li>
        <li class="nav-items"><a class="reset-a" href="../button">Button</a></li>
        <li class="nav-items"><a class="reset-a" href="../card">Card</a></li>
        <li class="nav-items"><a class="reset-a" href="../image/">Image</a></li>
        <li class="nav-items"><a class="reset-a" href="../input/">Input</a></li>
        <li class="nav-items"><a class="reset-a" href="../lists/">Lists</a></li>
        <li class="nav-items"><a class="reset-a" href="../navigation/">Navigation</a></li>
        <li class="nav-items"><a class="reset-a active" href="../text-utilities/">Text Utilities</a></li>
        <li class="nav-items"><a class="reset-a" href="../toast/">Toast</a></li>
        <li class="nav-items"><a class="reset-a" href="../ratings/">Ratings</a></li>
        <li class="nav-items"><a class="reset-a" href="../modals/">Modals</a></li>
        <li class="nav-items"><a class="reset-a" href="../grid/">Grids</a></li>
        <li class="nav-items"><a class="reset-a" href="../slider/">Slider</a></li>

      </ul>
      <main class="main-content">
        <h1>Text Utilities</h1>
        <p class="content-desc">
          Basic text formatting options used to keep the webapp intact and
          follow a particular order.
        </p>
        <pre><code class="html exec-code"><link rel = "stylesheet" href = "https://ak-paper-ui.netlify.app/components/text-utilities/style.css" /></code></pre>
        <hr />
        <h2>Headings</h2>
        <p class="content-desc">
          PaperUI provides custom font-sized headings. Just simply use the tags
          to get the custom font sizes
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <h1>Heading 1</h1>
          <p class="example-para">H1/44.8px Line Height/67.2px</p>
          <h2>Heading 2</h2>
          <p class="example-para">H1/33.6px Line Height/50.4px</p>
          <h3>Heading 3</h3>
          <p class="example-para">H1/26.2px Line Height/39.3px</p>
          <h4>Heading 4</h4>
          <p class="example-para">H1/22.4px Line Height/33.6px</p>
          <h5>Heading 5</h5>
          <p class="example-para">H1/18.5px Line Height/27.8px</p>
          <h6>Heading 6</h6>
          <p class="example-para">H1/15px Line Height/22.5px</p>
        </div>
        <pre>
          <code class="html exec-code">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
          </code>
        </pre>
        <h2>Typography (Font Size)</h2>
        <p class="content-desc">
          There are five different types of font-sizes.
        </p>
        <h3>Examples</h3>
        <div class="example-box f-size">
          <p class="xl">Lorem ipsum</p>
          <span class="example-para">P /40px line height/60px</span>
          <p class="lg">Lorem ipsum</p>
          <span class="example-para">P /32px line height/48px</span>
          <p>Lorem ipsum</p>
          <span class="example-para">P /22.4px line height/33.6px</span>
          <p class="sm">Lorem ipsum</p>
          <span class="example-para">P /16px line height/24px</span>
          <p class="xs">Lorem ipsum</p>
          <span class="example-para">P /8px line height/12px</span>
        </div>
        <pre>
          <code class="html exec-code">
            <p class="xl">Lorem ipsum</p>
            <p class="lg">Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p class="sm">Lorem ipsum</p>
            <p class="xs">Lorem ipsum</p>
            </code>
        </pre>
        <h2>Typography (Font Weight)</h2>
        <p class="content-desc">
          Use class name .w followed by the font weight specified in the below
          code.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <p class="lg w3">Light 300</p>
          <p class="lg w4">Light 400</p>
          <p class="lg w6">Light 600</p>
          <p class="lg w7">Light 700</p>
          <p class="lg w9">Light 900</p>
        </div>
        <pre>
          <code class="html exec-code">
            <p class="lg w3">Light 300</p>
            <p class="lg w4">Light 400</p>
            <p class="lg w6">Light 600</p>
            <p class="lg w7">Light 700</p>
            <p class="lg w9">Light 900</p>
          </code>
        </pre>
        <h2>Border Radius</h2>
        <p class="content-desc">
          There are four different type of border radius.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class = "br-box">
            <div class="box s"></div>
            <span>5px s</span>
          </div>
          <div class = "br-box">
            <div class="box m"></div>
            <span>10px m</span>
          </div>
          <div class = "br-box">
            <div class="box l"></div>
            <span>15px l</span>
          </div>
          <div class = "br-box">
            <div class="box full-O"></div>
            <span>99px full-O</span>
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class = "br-box">
              <div class="box s"></div>
              <span>5px s</span>
            </div>
            <div class = "br-box">
              <div class="box m"></div>
              <span>10px m</span>
            </div>
            <div class = "br-box">
              <div class="box l"></div>
              <span>15px l</span>
            </div>
            <div class = "br-box">
              <div class="box full-O"></div>
              <span>99px full-O</span>
            </div>
          </code>
        </pre>
        <hr />
        <footer class="nav-footer">
          <i class="material-icons">chevron_left</i
          ><a class="footer-a far-left" href="../navigation/">Navigation</a>
          <a class="footer-a" href="../toast/">Toast</a
          ><i class="material-icons">chevron_right</i>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
  </body>
</html>
