<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper UI | Modals</title>
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/colors.css" />
    <link rel="stylesheet" href="../button/button.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      href="../../images/logo.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-title">
        <span class="brand">
          <h2>PaperUI</h2>
          <span>v1.0</span>
        </span>
        <span class="material-icons ml-auto" id="menu">menu</span>
      </div>
      <ul class="nav-links">
        <li class="navbar-items">
          <a href="../../documentation.html">Docs</a>
          <span class="material-icons ml-auto" id="close-btn">close</span>
        </li>
        <li class="navbar-items"><a href="#">Examples</a></li>
        <li class="navbar-items"><a href="#">Resources</a></li>
      </ul>
    </nav>

    <div class="grid-container">
      <ul class="side-navbar">
        <h3 class="list-heading">Getting Started</h3>
        <li class="nav-items"><a class="reset-a" href="../../index.html">Introduction</a></li>
        <li class="nav-items"><a class="reset-a" href="#">Color</a></li>
        <li class="nav-items"><a class="reset-a" href="#">Typography</a></li>
        <li class="nav-items"><a class="reset-a" href="#">Conclusion</a></li>

        <h3 class="list-heading">Components</h3>
        <li class="nav-items"><a class="reset-a" href="../alert">Alert</a></li>
        <li class="nav-items"><a class="reset-a" href="../avatar">Avatar</a></li>
        <li class="nav-items"><a class="reset-a" href="../badge">Badge</a></li>
        <li class="nav-items"><a class="reset-a" href="../button">Button</a></li>
        <li class="nav-items"><a class="reset-a" href="../card">Card</a></li>
        <li class="nav-items"><a class="reset-a" href="../image/">Image</a></li>
        <li class="nav-items"><a class="reset-a" href="../input/">Input</a></li>
        <li class="nav-items"><a class="reset-a" href="../lists/">Lists</a></li>
        <li class="nav-items"><a class="reset-a" href="../navigation/">Navigation</a></li>
        <li class="nav-items"><a class="reset-a" href="../text utilities/">Text-Utilities</a></li>
        <li class="nav-items"><a class="reset-a" href="../toast/">Toast</a></li>
        <li class="nav-items"><a class="reset-a" href="../ratings/">Ratings</a></li>
        <li class="nav-items"><a class="reset-a active" href="../modals/">Modals</a></li>
        <li class="nav-items"><a class="reset-a" href="../grid/">Grids</a></li>
        <li class="nav-items"><a class="reset-a" href="../slider/">Slider</a></li>

      </ul>
      <main class="main-content">
        <h1>Modals</h1>
        <p class="content-desc">
          Modals are pop up messages, displayed on the top of the screen.
        </p>
        <hr />
        <h2>Modal</h2>
        <p class="content-desc">
          To access modal styles use <code>&nbsp;.modal &nbsp;</code> class
          names in your container.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="modal">
            <h4>Heading</h4>
            <hr />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, architecto.</p>
            <hr />
            <div class="modal-btn-grp">
              <button class="btn secondary">Close</button>
              <button class="btn primary">Save Changes</button>
            </div>
          </div>
        </div>
        <button class="btn primary" id = "modal-action">Live Preview</button>
        <div id = "modal-in-action">
          <div class="modal">
            <h4>Heading</h4>
            <hr />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, architecto.</p>
            <hr />
            <div class="modal-btn-grp">
              <button class="btn secondary">Close</button>
              <button class="btn primary">Save Changes</button>
            </div>
          </div>
        </div>
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522modal%2522%253E%250A%2520%2520%253Ch4%253EHeading%253C%252Fh4%253E%250A%2520%2520%253Chr%2520%252F%253E%250A%2520%2520%253Cp%253E%250A%2520%2520%2520%2520Lorem%2520ipsum%2520dolor%252C%2520sit%2520amet%2520consectetur%2520adipisicing%2520elit.%2520Quos%252C%2520architecto.%250A%2520%2520%253C%252Fp%253E%250A%2520%2520%253Chr%2520%252F%253E%250A%2520%2520%253Cdiv%2520class%253D%2522modal-btn-grp%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520secondary%2522%253EClose%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520primary%2522%253ESave%2520Changes%253C%252Fbutton%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
        style="height: 437px;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
        <hr />
        <footer class="nav-footer">
          <i class="material-icons">chevron_left</i
          ><a class="footer-a far-left" href="../ratings/"
            >Ratings</a
          >
          <a class="footer-a" href="../grid/">Grids</a
          ><i class="material-icons">chevron_right</i>
        </footer>
      </main>
    </div>
    <script>
      let modalAction = document.querySelector("#modal-action");
      let modalInAction = document.querySelector("#modal-in-action");
      let closeModal = document.querySelector("#modal-in-action .modal-btn-grp .secondary");
      modalAction.addEventListener("click", () => {
        modalInAction.style.display = "flex";
        document.body.style.overflow = "hidden";
        modalInAction.style.top = `${window.scrollY}px`;
      });
      closeModal.addEventListener("click", () => {
        document.body.style.overflow = "scroll";
        modalInAction.style.display = "none";
      })
    </script>
  </body>
</html>
