@import url("../../css/navbar.css");
@import url("../../css/sidebar.css");
@import url("../../css/colors.css");

/*****CONTENT  */

.alert {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--font-white);
}

.alert .material-icons {
    margin: 0 1rem 0 0;
}
/*****  */