<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaperUI | Alerts</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../css/colors.css" />
    <link rel="shortcut icon" href="../../images/logo.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
    <script src="../../script.js" defer></script>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-title">
        <span class="brand">
          <h2><a href = "../../">PaperUI</a></h2>
          <span>v1.0</span>
        </span>
        <span class="material-icons ml-auto" id="menu">menu</span>
      </div>
      <ul class="nav-links">
        <li class="navbar-items">
          <a href="../../documentation.html">Docs</a>
          <span class="material-icons ml-auto" id="close-btn">close</span>
        </li>
        <li class="navbar-items"><a href="#">Examples</a></li>
        <li class="navbar-items"><a href="#">Resources</a></li>
      </ul>
    </nav>

    <div class="grid-container">
      <ul class="side-navbar">
        <h3 class="list-heading">Getting Started</h3>
        <li class="nav-items"><a class="reset-a" href="../../documentation.html">Introduction</a></li>
        <li class="nav-items"><a class="reset-a" href="../../introduction/colors/">Color</a></li>
        <li class="nav-items"><a class="reset-a" href="../../introduction/typography/">Typography</a></li>
        <li class="nav-items"><a class="reset-a" href="../../introduction/conclusion/">Conclusion</a></li>
        
        <h3 class="list-heading">Components</h3>
        <li class="nav-items"><a class="reset-a active" href="../alert">Alert</a></li>
        <li class="nav-items"><a class="reset-a" href="../avatar">Avatar</a></li>
        <li class="nav-items"><a class="reset-a" href="../badge">Badge</a></li>
        <li class="nav-items"><a class="reset-a" href="../button">Button</a></li>
        <li class="nav-items"><a class="reset-a" href="../card">Card</a></li>
        <li class="nav-items"><a class="reset-a" href="../image/">Image</a></li>
        <li class="nav-items"><a class="reset-a" href="../input/">Input</a></li>
        <li class="nav-items"><a class="reset-a" href="../lists/">Lists</a></li>
        <li class="nav-items"><a class="reset-a" href="../navigation/">Navigation</a></li>
        <li class="nav-items"><a class="reset-a" href="../text-utilities/">Text Utilities</a></li>
        <li class="nav-items"><a class="reset-a" href="../toast/">Toast</a></li>
        <li class="nav-items"><a class="reset-a" href="../ratings/">Ratings</a></li>
        <li class="nav-items"><a class="reset-a" href="../modals/">Modals</a></li>
        <li class="nav-items"><a class="reset-a" href="../grid/">Grids</a></li>
        <li class="nav-items"><a class="reset-a" href="../slider/">Slider</a></li>
      </ul>
      <main class="main-content">
        <h1>Alerts</h1>
        <p class="content-desc">
          An alert is a short message that only pops up when some information is
          needed to be pass on to a user on a certain action.
        </p>
        <pre><code class="html exec-code"><link rel = "stylesheet" href = "https://paperui.netlify.app/components/alert/style.css" /></code></pre>
        <hr />
        <h2>Default Alerts</h2>
        <p class="content-desc">
          Default alerts are simple alerts with background colors that indicates
          their purpose.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="alert primary">
            <b>Primary!</b> This is a Primary Alert - Check it now!
          </div>
          <div class="alert secondary">
            <b>Secondary!</b> This is a Secondary Alert - Check it now!
          </div>
          <div class="alert success">
            <b>Success!</b> This is a Success Alert - Check it now!
          </div>
          <div class="alert danger">
            <b>Danger!</b> This is a Danger Alert - Check it now!
          </div>
          <div class="alert warning">
            <b>Warning!</b> This is a Warning Alert - Check it now!
          </div>
          <div class="alert dark">
            <b>Dark!</b> This is a Dark Alert - Check it now!
          </div>
        </div>
        <pre>
          <code class = "html exec-code">
            <div class="alert primary">
              <b>Primary!</b> This is a Primary Alert - Check it now!
            </div>
            <div class="alert secondary">
              <b>Secondary!</b> This is a Secondary Alert - Check it now!
            </div>
            <div class="alert success">
              <b>Success!</b> This is a Success Alert - Check it now!
            </div>
            <div class="alert danger">
              <b>Danger!</b> This is a Danger Alert - Check it now!
            </div>
            <div class="alert warning">
              <b>Warning!</b> This is a Warning Alert - Check it now!
            </div>
            <div class="alert dark">
              <b>Dark!</b> This is a Dark Alert - Check it now!
            </div>
          </code>
        </pre>
        <h2>Outline Alerts</h2>
        <p class="content-desc">
          Outline alerts are another variants of default alerts with border and
          text colors that indicates their purpose.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="alert primary-ol">
            <b>Primary!</b> This is a Primary Alert - Check it now!
          </div>
          <div class="alert secondary-ol">
            <b>Secondary!</b> This is a Secondary Alert - Check it now!
          </div>
          <div class="alert success-ol">
            <b>Success!</b> This is a Success Alert - Check it now!
          </div>
          <div class="alert danger-ol">
            <b>Danger!</b> This is a Danger Alert - Check it now!
          </div>
          <div class="alert warning-ol">
            <b>Warning!</b> This is a Warning Alert - Check it now!
          </div>
          <div class="alert dark-ol">
            <b>Dark!</b> This is a Dark Alert - Check it now!
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="alert primary-ol">
              <b>Primary!</b> This is a Primary Alert - Check it now!
            </div>
            <div class="alert secondary-ol">
              <b>Secondary!</b> This is a Secondary Alert - Check it now!
            </div>
            <div class="alert success-ol">
              <b>Success!</b> This is a Success Alert - Check it now!
            </div>
            <div class="alert danger-ol">
              <b>Danger!</b> This is a Danger Alert - Check it now!
            </div>
            <div class="alert warning-ol">
              <b>Warning!</b> This is a Warning Alert - Check it now!
            </div>
            <div class="alert dark-ol">
              <b>Dark!</b> This is a Dark Alert - Check it now!
            </div>
          </code>
        </pre>
        <h2>Icons Alerts</h2>
        <p class="content-desc">
          Icons alerts displays icons with the message.
        </p>
        <h3>Examples</h3>
        <div class="example-box">
          <div class="alert primary-ol">
            <i class="material-icons">error</i>
            <b>Primary!</b> This is a Primary Alert - Check it now!
          </div>
          <div class="alert success-ol">
            <i class="material-icons">check_circle</i>
            <b>Success!</b> This is a Success Alert - Check it now!
          </div>
          <div class="alert danger-ol">
            <i class="material-icons">new_releases</i>
            <b>Danger!</b> This is a Danger Alert - Check it now!
          </div>
          <div class="alert warning-ol">
            <i class="material-icons">warning</i>
            <b>Warning!</b> This is a Warning Alert - Check it now!
          </div>
        </div>
        <pre>
          <code class="html exec-code">
            <div class="alert primary-ol">
              <i class="material-icons">error</i>
              <b>Primary!</b> This is a Primary Alert - Check it now!
            </div>
            <div class="alert success-ol">
              <i class="material-icons">check_circle</i>
              <b>Success!</b> This is a Success Alert - Check it now!
            </div>
            <div class="alert danger-ol">
              <i class="material-icons">new_releases</i>
              <b>Danger!</b> This is a Danger Alert - Check it now!
            </div>
            <div class="alert warning-ol">
              <i class="material-icons">warning</i>
              <b>Warning!</b> This is a Warning Alert - Check it now!
            </div>
          </code>
        </pre>
        <hr />
        <footer class="nav-footer">
          <a class="footer-a" href="../avatar">Avatar</a
          ><i class="material-icons">chevron_right</i>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
